<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="~{${themePath}+'/layout.html'}">
<head>
    <title>Cocinero New Event</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container" layout:fragment="content">

    <div class="jumbotron">
        <h2>Upcoming events</h2>
        <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    </div>

    <div class="row text-center" style="display:flex;flex-wrap:wrap;">
        <div class="col-md-3 col-sm-6" th:each="event : ${events}">
            <div class="thumbnail">
                <div class="caption">
                    <h4 th:text="${event.name}">Name</h4>
                </div>
                <p>[[${#dates.format(event.eventDate, 'dd-MMM-yyyy')}]]</p>
                <p>[[${#dates.format(event.eventDate, 'HH:mm')}]]</p>
                <p><strong>£[[${event.amount}]]</strong></p>
                <p>
                    <a th:href="${'/events/'+event.id}" class="btn btn-primary">More Info</a>
                    <a th:href="${'/events/'+event.id+'/subscribe'}" class="btn btn-success">Subscribe</a>
                </p>
            </div>
        </div>
    </div>


</div>
</body>
</html>
