<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="~{${themePath}+'/layout.html'}">
<head>
    <title>Cocinero New Event</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <th:block layout:fragment="css">
        <link href="/public/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
    </th:block>
</head>
<body>
<div class="container" layout:fragment="content">

    <!--
    private final BigDecimal amount;-->
<div class="row">
    <div class="col-lg-6">
    <div class="well bs-component">
        <form action="/events" method="post" class="form-horizontal">
            <fieldset>
                <legend>Create Event</legend>

                <div class="form-group">
                    <label for="inputName" class="col-lg-2 control-label">Name</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputName" name="name" placeholder="Name">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputDescription" class="col-lg-2 control-label">Description</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputDescription" name="description" placeholder="Description">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputType" class="col-lg-2 control-label">Type</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputType" name="type" placeholder="Type">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputMaxAttendants" class="col-lg-2 control-label">Max Attendants</label>
                    <div class="col-lg-10">
                        <input type="number" class="form-control" id="inputMaxAttendants" min="0" step="1" name="maxAttendants" placeholder="Max Attendants"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputAmount" class="col-lg-2 control-label">Amount £</label>
                    <div class="col-lg-10">
                        <input type="number" class="form-control" id="inputAmount" min="0" step="0.01" name="amount" placeholder="Amount per Person"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEventDate" class="col-lg-2 control-label">DateTime Picking</label>
                    <div class="input-group date form_datetime col-lg-10" data-date-format="dd MM yyyy - HH:ii p" data-link-field="inputEventDate" data-link-format="yyyy-mm-ddTHH:ii">
                        <input class="form-control" type="text" value="" readonly>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                    </div>
                    <input type="hidden" id="inputEventDate" name="eventDate" value="" /><br/>
                </div>

                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="reset" class="btn btn-default">Cancel</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    </div>
</div>
</div>
<th:block layout:fragment="script">
    <script type="text/javascript" src="/public/js/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
    <script type="text/javascript">
        $(".form_datetime").datetimepicker({
            format: "dd MM yyyy - hh:ii",
            startDate: new Date(),
            minuteStep: 15
        });
    </script>
</th:block>
</body>
</html>
